@model ClienteView.Models.OperationResult<List<ClienteView.Models.ClienteModel>>
@{
    ViewBag.Title = "ListadoClientes";
}


<section class="row pt-3">
    <div class="col-12">
        <h1 class="display-4 bg-light p-3">Listado de Clientes</h1>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-auto p-3">
                <a class="btn btn-primary" href="/Cliente/CrearCliente">Nuevo Cliente</a>
            </div>
            <div class="col-12 table-size overflow-auto">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Cedula</th>
                            <th class="text-center">Telefono</th>
                            <th class="text-center">Balance</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="listarClientes" class="overflow-auto">
                        <!--Listado dinamico-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
